html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

#titulo {
    font-size: 200px;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    width: 100%;
    text-align: center;
}

#buttonIniciar {
    width: 500px;
    height: 250px;
    font-size: 100px;
    border-radius: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: burlywood;
    transition: background-color 0.3s ease;

}

#buttonInfo {
    width: 500px;
    height: 250px;
    font-size: 100px;
    border-radius: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: burlywood;
    transition: background-color 0.3s ease;

}

#contenedorInicial {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}

#contenedorInfoPistas {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
    width: 70%;
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    display: none;
    flex-direction: column;
    align-items: center;
}

#buttonRegresarPistas {
    width: 300px;
    height: 150px;
    font-size: 60px;
    border-radius: 50px;
    font-family: 'Trebuchet MS', sans-serif;
    background-color: rgb(247, 218, 181);
    transition: background-color 0.3s ease;

}

#contenedorJuego {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-family: Verdana, sans-serif;
    width: 100%;
    height: 100%;
}

#contador {
    text-align: center;
    margin: 10px;
    font-size: 80px;
}

img {
    width: 350px;
}

#contenedorImagen {
    width: 350px;
    height: 350px;
    overflow: hidden;
}

#contenedorInput {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    flex-wrap: wrap;
}

label {
    font-size: 50px;
}

#inputRespuesta {
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

#buttonRespuesta {
    margin-top: 50px;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    width: 300px;
    background-color: burlywood;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#contenedorPalabra {
    display: flex;
    width: 40%;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenedorPista {
    max-width: 20%;
}

#pistaP {
    text-align: center;
    font-size: 30px;
}

#pista {
    font-size: 30px;
    color: rgb(2, 2, 109);
}

#contenedorHistorial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

#respuesta {
    text-align: center;
    font-size: 60px;
    word-spacing: 10px;
    margin: 10px;
    font-family: 'Comic Sans MS', sans-serif;
}

#letrasUsadasP {
    text-align: center;
    font-size: 30px;
    word-spacing: 10px;
    margin: 10px;
    font-family: 'Comic Sans MS', sans-serif;
}

#resultado {
    text-align: center;
    font-size: 50px;
    word-spacing: 10px;
    margin: 10px;
    font-family: 'Comic Sans MS', sans-serif;
}

#letrasUsadas {
    color: rgb(205, 14, 14);
}

#respuesta {
    color: green;
}

#contenedorVolverAJugar {
    display: none;
    align-items: center;
    justify-content: center;
}

#buttonVolverAJugar {
    margin-top: 50px;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    width: 300px;
    background-color: burlywood;
    border-radius: 10px;
    margin: 0;
    transition: background-color 0.3s ease;
}

#buttonVolverAJugar:hover {
    background-color: rgb(98, 225, 31);
}

#buttonIniciar:hover {
    background-color: rgb(98, 225, 31);
}

#buttonInfo:hover {
    background-color: rgb(98, 225, 31);
}

#buttonRegresarPistas:hover {
    background-color: rgb(98, 225, 31);
}

#buttonRespuesta:hover {
    background-color: rgb(98, 225, 31);
}